body {
    max-width: 500px;
    margin: auto;
    background: black;
}

h1 {
  font-family: DIN alternate;
  font-size: 20px;
  color: white;
}

p {
    font-family: DIN alternate;
    font-size: 20px;
    color: white;
}

#display_temperature {
  font-family: DIN alternate;
  font-size: 60px;
  border-bottom: 4px solid white;
}

#decrease_temperature {
  background-color: black;
  color: white;
  padding: 10px 22px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border: 2px solid white;
}

#decrease_temperature:hover {
  background-color: black;
  color: #33844d;
  border: 2px solid #33844d;
}

#increase_temperature {
  background-color: black;
  color: white;
  padding: 10px 22px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border: 2px solid white;
}

#increase_temperature:hover {
    background-color: black;
    color: #c93638;
    border: 2px solid #c93638;
  }

#PSM_on {
  background-color: black;
  color: white;
  padding: 10px 22px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border: 2px solid white;
}

#PSM_on:hover {
  background-color: black;
  color: #33844d;
  border: 2px solid #33844d;
}

#PSM_off {
  background-color: black;
  color: white;
  padding: 10px 22px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border: 2px solid white;
}

#PSM_off:hover {
    background-color: black;
    color: #c93638;
    border: 2px solid #c93638;
  }

#reset_temperature {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 22px;
    border-radius: 8px;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.low-usage {
  color: #33844d;
}

.medium-usage {
  color: white;
}

.high-usage {
  color: #c93638;
}
